#volume directories
main/data/
remote/data/
infra/pgdata/
core/billing


# SSH host key - generate locally with:
# ssh-keygen -t rsa -b 2048 -f core/ssh_host_rsa_key -N ""
core/ssh_host_rsa_key
core/ssh_host_rsa_key.pub
core/ssh_host_ed25519_key
core/ssh_host_ed25519_key.pub

# Personal public key - add your own with comment admin@<something>:
# awk '{print $1, $2, "admin@localhost"}' ~/.ssh/id_ed25519.pub > core/authorized_keys2
core/authorized_keys2

# k8s Secrets
k8s/secrets.yaml